
@model ead_web_project.Models.Post
    <div id="wrapper-content-ead">
      <div class="container-fluid">
        <div class="row">
          <div id="left-sidebar-ead" class="vertical-center-ead">
            <div id="tag-info-ead" class="panel panel-default">
              <h2>
                <a href="#">@Model.Title</a>
              </h2>
              <ul id="info-tags-ead">
                <li>
                  <span class="icon-price-tags"></span>
                </li>
                @foreach (var tag in Model.Tags)
                {
                    <li>@tag.Name</li>
                }
                
              </ul>
              <ul id="info-stats-ead">
                <li>By <a href="#">@Model.User.Name</a></li>
                <li>Posted on @Model.Date</li>
                <li>@Model.Comments.Count() responses</li>
                <li>@Model.Likes.Count() likes</li>
              </ul>
            </div>
          </div>
          <div id="main-content-ead" class="col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-3-5">
            <div id="content-panel-ead" class="panel panel-default">
              <div id="content-body-ead">
                <div class="content-post-ead">
                    <div id="promotion-wrapper-ead"><a href="@Url.Action("ToggleLike","Like")/@Model.Id"><span class="icon-heart @ViewBag.isLiked"></span> Like</a></div>
                    <div class="froala-view">
                        @Html.Raw(Model.Content)
                    </div>
                    <hr />
                </div>
              </div>
              <footer>
                <h2>@Model.User.Name</h2>
                <div id="author-image-ead" style="background: url(@ViewBag.Picture); background-size: cover;"></div>
                <div id="author-details-ead">
                    <p>@Model.User.Email</p>
                    <p>@Model.User.Contact</p>
                    <p>@Model.User.Profession</p>
                    <p>Born @Model.User.DOB</p>
                    <p>Resident of @Model.User.Country</p>
                </div>
                <ul id="comments-list-ead">
                  <br />
                    @foreach (var c in @Model.Comments)
                    {
                        <hr /><li><span>@c.Date</span><br />@c.Content<a href="#"> - @c.User.Name</a> - <a href="@Url.Action("deleteComment","Comment")/@c.Id">Delete</a></li>      
                    }
                </ul>
                <form style="text-align:center" method="post" action="@Url.Action("addComment","Comment")">
                  <textarea style="margin:0px; width:100%;" name="Content"></textarea>
                    <input type="hidden" value="@Model.Id" name="PostID" />
                  <button><span class="icon-plus"></span> New Comment</button>
                </form>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>