@section CSS{
    <link href="~/Content/custom/css/vendor/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/custom/css/vendor/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/custom/css/vendor/jquery-ui.theme.css" rel="stylesheet" />
}
@section JavaScript{
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/custom/profile.js"></script>
}

 @model ead_news.Models.User
     <div id="wrapper-content-ead">
      <div class="container-fluid">
        <div class="row">
          <div id="main-content-ead" class="col-sm-6 col-sm-offset-3">
            <div id="content-panel-ead" class="panel panel-default">
              <div id="content-body-ead">
                <div class="content-post-ead">
                  <header>
                    <span id="content-title-ead"><h2>Edit Profile</h2></span>
                  </header>
                  <form id="profile-form-ead" method="post" action="@Url.Action("updateProfile","User")">
                    <div class="input-group">
                      <div class="input-group-addon input-sm"><span class="icon-user"></span></div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "input-sm", type = "text", value = "@Model.Name", placeholder = "Username", name = "Name", @required = "required" })
                    </div>
                    <div class="input-group">
                      <div class="input-group-addon input-sm"><span class="icon-mail2"></span></div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-sm", type = "text", value = "@Model.Email", placeholder = "Email", name = "Email", @required = "required"})
                    </div>
                    <div class="input-group">
                      <div class="input-group-addon input-sm"><span class="icon-key"></span></div>
                        <input class="input-sm" type="password" value="@Model.Password" placeholder="Password" name="Password" required />
                    </div>
                    <div class="input-group">
                      <div class="input-group-addon input-sm"><span class="icon-phone"></span></div>
                        <input class="input-sm" type="text" value="@Model.Contact" placeholder="Contact Number" name="Contact" required/>
                    </div>
                    <div class="input-group">
                      <div class="input-group-addon input-sm"><span class="icon-calendar"></span></div>
                        <input class="input-sm" type="text" value="@Model.DOB" placeholder="DOB" name="DOB" required/>
                    </div>
                    <div class="input-group">
                      <div class="input-group-addon input-sm"><span class="icon-quill"></span></div>
                        <input class="input-sm" type="text" value="@Model.Profession" placeholder="Profession" name="Profession" required/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon input-sm"><span class="icon-flag"></span></div>
                        <input class="input-sm" type="text" value="@Model.Country" placeholder="Country" name="Country" required/>
                    </div>
                    <button class="pull-right">Update</button>
                  </form>
                </div>
              </div>
              <!--footer>
                <span>Footer</span>
              </footer-->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>