@model ead_news.Models.User
    <div id="wrapper-content-ead">
      <div class="container-fluid">
        <div class="row">
          <div id="main-content-ead" class="col-sm-10 col-sm-offset-1">
            <div id="content-panel-ead" class="panel panel-default">
              <div id="content-body-ead" class="profile-body-ead">
                <div id="profile-pic-section-ead" class="profile-section-ead" style="background: url(@ViewBag.Picture); background-size: cover;">
                    <a href="#" data-toggle="modal" data-target="#myModal"><span style="position:absolute; left:0; margin:1em;" class="icon-camera"></span></a>
                    
                </div>
                <div id="profile-details-section-ead" class="profile-section-ead">
                  <a href="@Url.Action("editProfile", "User")"><span style="position:absolute; right:0; margin:1em;" class="icon-pencil2"></span></a>
                  <h3 style="text-align:center; margin-top:1em;">@Model.Name</h3>
                  <ul id="profile-details-ead" class="vertical-center-ead">                  
                    <li><span>Email Address:</span>@Model.Email</li>
                    <li><span>Contact Number:</span>@Model.Contact</li>
                    <li><span>DOB:</span>@Model.DOB</li>
                    <li><span>Profession:</span>@Model.Profession</li>
                    <li><span>Country:</span>@Model.Country</li>
                  </ul>
                </div>
              <!--footer>
                <span>Footer</span>
              </footer-->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin:7rem">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="profile-pic-form-ead" method="post" action="@Url.Action("updateProfilePicture", "User")" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Picture</h4>
                </div>
                <div class="modal-body">
                    <input type="file" name="image"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>